<div class = "col-lg-10 offset-lg-1 mb-3">
  <h3 class= "px-sm-5 d-inline-block bg-primary">注文情報確認</h3>
</div>
<div class="row">
  <div class="col-lg-8">
    <table class = "table table-bordered">
      <tr class = table-secondary>
        <td>商品名</td>
        <td style = "width: 20%">単価（税込）</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
      <!--@shopping_carts_products.each do |shopping_cart|-->
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class = "col-lg-4">
    <table class = "table table-bordered">
      <tr>
        <td class = table-secondary>送料</td>
        <td></td>
      </tr>
      <tr>
        <td class = table-secondary>商品合計</td>
        <td></td>
      </tr>
      <tr>
        <td class = table-secondary>請求金額</td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

<table>
  <tr>
    <th>支払い方法</th>
    <td>クレジット</td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>どこどこ</td>
  </tr>
</table>