<h2>注文履歴一覧</h2>
<table>
  <tr>
   <th>注文日</th>
   <th>配送先</th>
   <th>注文商品</th>
   <th></th>
   <th></th>
   <th></th>
  </tr>
  <tr>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
  </tr>
</table>