<h2>商品一覧</h2>
<table>
  <tbody>
    <tr>商品ID</tr>
    <tr>商品名</tr>
    <tr>税抜き価格</tr>
    <tr>ジャンル</tr>
    <tr>ステータス</tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tbody>
</table>